<div class = "row">
  <div class = "tag_cloud col-sm-12">
    <h2>This is going to be a search</h2>
    <%= link_to "all jobs", tasks_path(@task), class: "tag" %>
    <% tag_cloud Task.tag_counts.sort_by(&:count).reverse, %w[s m l] do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: "tag"  %>
    <% end %>
  </div>
</div>
<%= render 'tasksgrid' %>
<div class = "col-md-12">
  <br/>
  <br/>
</div>






